/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-font-family: 'IBM Plex Mono';
  --accent-color: #FF0070;
  --main-color: #000028;
  --text-color: #F1B2CE;
  --header-bg-image: url(../images/cover-image-dark.png);
  --content-font-size: 18px;
  --title-color: #DB00FF;
  --text-content-color: #F1B2CE;
  --text-cover: #000028;
  --content-title: #FF0070;
  --decor-color: #FF0070; 
  --decor-content-color: #FF0070;
  --shadow-color: #FF0070;
}

.theme-dark .header__lamp {
  display: flex;
}
