/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-font-family: "IBM Plex Mono";
  --accent-color: #ff8dcb;
  --main-color: #fff1f7;
  --text-color: #353430;
  --header-bg-image: url(../images/cover-image-light.png);
  --content-font-size: 18px;
  --title-color: #ffc2e6;
  --text-content-color: #353430;
  --text-cover: #353430;
  --content-title: #353430;
  --decor-color: #353430;
  --decor-content-color: #ff8dcb;
  --shadow-color: #ff0070;
}

.theme-light .header__lamp {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font-family: "IBM Plex Mono";
    --accent-color: #ff8dcb;
    --main-color: #fff1f7;
    --text-color: #353430;
    --header-bg-image: url(../images/cover-image-light.png);
    --content-font-size: 18px;
    --title-color: #ffc2e6;
    --text-content-color: #353430;
    --text-cover: #353430;
    --content-title: #353430;
    --decor-color: #353430;
    --decor-content-color: #ff8dcb;
    --shadow-color: #ff0070;
  }

  .header__lamp {
    display: none;
  }
}
